<head>
  <meta charset="UTF-8">
     <title>Purple Cupcakes orders</title>

 <href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
   <link rel="stylesheet" type="text/css" href="/css/style.css" />
   <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/animate-custom.css" />
    <script src="js/responsive-nav.min.js"></script>
   </head>

     <div class="header clearfix">
       <nav>
       <ul class="navbar-toggler-right">

        <li class="nav-item nav-link"><a  href="#" style="color:#fff">
          <i class="fa fa-shopping-cart"></i><span></span> Shopping cart</a></li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle"  href="#" style="color:#fff">
          <i class="fa fa-user" aria-hidden="true"></i>customer Account</a>
          <ul>
            <li class="dropdown-item"><a href="/customer/logout" style="color:#fff">Logout</a></li>
            <li class="dropdown-item"><a href="/customer/login" style="color:#fff">Login</a></li>
            <li class="dropdown-item"><a  href="/customer/register" style="color:#fff">Register</a></li>
          </ul>
        </li>


        </ul>

       </nav>
        </div>
