<!DOCTYPE html>
<html>

  <body>

      <div class="hero">
        <nav class="main-nav nav-collapse clear-fix">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
       <!--    <li><a href="/customer/login">Login</a></li> -->

          <li class="donate"><a href="/customer/login">Order</a></li>
        </ul>
     </nav>




        {{#if success_msg}}
          <div class="alert alert-sucess">{{success_msg}} </div>
        {{/if}}

        {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}} </div>
            {{/if}}

        {{#if error}}
            <div class="alert alert-danger"> {{error}} </div>
        {{/if}}



     {{{body}}}

</div>
  </body>


</html>
