
<head>

  <link href="css/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400italic,300,700,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/responsive-nav.css">
  <script src="js/responsive-nav.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

  p {
      float: left;
      font-size: 30px;
  }
  
  img {
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 30px;
    padding:1px;
    border:1px solid #021a40;
  }

  h2 {
    margin-top: 60px;
    margin-left: 150px;
    
    font-size: 2.2em;
  }

  .hero p {
    font-size: 1.0em;
  }

</style> 
</head>


<div class="container">
    <div class="hero">
     
<div class="About us">
    <div header><h2>About Us</h2></div>
  <div class="image-purple-cupcake">
     <img src="/images/purplecupcakes.jpg" height="210px" width="350px">
  </div>

      <p>Here at Purple Cupcakes we believe in small batch baking and providing top quality sweets and pastries with no shortcuts and our open kitchen concept allows visitors to watch our staff at work. Whether piping away on a tray of freshly baked cupcakes, or mixing up a homemade batch of cookies, the shop is both a delight for the young and old. We also have gluten free options on our menu!  So whether a birthday, a dinner party, a wedding or shower, let us help you cater your next special event!
      <p>We are committed to using fresh, local ingredients.  We are family owned and operated and have been here in the DC metro area since 1998!</p>
  </div>
