
<head>
  <meta charset="UTF-8">
     <title>Purple Cupcakes orders</title>

  
    <link href='http://fonts.googleapis.com/css?family=Roboto:400italic,300,700,400' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'/>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" > 
   <link rel="stylesheet" type="text/css" href="/css/style.css" /> 
   <link rel="stylesheet" href="/css/bootstrap.css" />  
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/animate-custom.css" />
    <script src="js/responsive-nav.min.js"></script>
   </head> 
 
   
 <style> 
    .clipped-image {
      max-height: 187px;
      min-height: 187px;
    }
    .panel-heading {
      text-align: center;
      font-size: 2em;
      font-weight: bold;
     }

         
 </style>
</head>

  <div class="container">
  <!--   <div class="hero">
    
     <nav class="main-nav nav-collapse clear-fix">
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="/customer/login">Login</a></li>
          <li><a href="#">Contact</a></li>
          <li class="donate"><a href="/customer/order">Order</a></li>
        </ul>
     </nav> -->
     
 <br>
    <section class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Cupcake Menu
      <!-- <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Cupcake Menu</h3> -->
        </div>
        <div class="panel-body">

                
          <div class="col-md-4 col-sm-6">
                                <div class="sc-product-item thumbnail">
                                    <img data-name="product_image" class="clipped-image" src="/images/vanilla_choc_cupcake.PNG" alt="cupcake">
                                    <div class="caption">
                                        <h4 data-name="product_name">Product 1</h4>
                                        <!-- <p data-name="product_desc">Product details</p> -->
                                        <hr class="line">
                                        
                                        <div>
                                            <div class="form-group">
                                                <label>Quantity: </label>
                                                <select name="product_size" class="form-control input-sm">
                                                    <option>6</option>
                                                    <option>12</option>
                                                    <option>24</option>
                                                </select>
                                            </div>
                                           
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="gift_wrap" value="1"> Gift wrap
                                                </label>
                                            </div>
                                            <strong class="price pull-left">$3.00 each</strong>
                                            
                                            <input name="product_price" value="5435.50" type="hidden" />
                                            <input name="product_id" value="145" type="hidden" />
                                            <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <span class="sc-product-item thumbnail">
                                    <img data-name="product_image" class="clipped-image" src="/images/pink_vanilla_cupcake.PNG" alt="pink cupcake">
                                    <div class="caption">
                                        <h4 data-name="product_name">Product 2 </h4>
                                        <!-- <p data-name="product_desc">Product details</p> -->
                                    
                                        <hr class="line">
                                        <div>
                                            <div class="form-group">
                                                <label>Quantity: </label>
                                                <select name="product_size" class="form-control input-sm">
                                                    <option>6</option>
                                                    <option>12</option>
                                                    <option>24</option>
                                                </select>
                                            </div>
                                           
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="gift_wrap" value="1"> Gift wrap
                                                </label>
                                            </div>
                                            <strong class="price pull-left">$3.25 each</strong>
                                            
                                            <input name="product_price" value="5435.50" type="hidden" />
                                            <input name="product_id" value="145" type="hidden" />
                                            <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </span>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="sc-product-item thumbnail">
                                    <img data-name="product_image" class="clipped-image" src="/images/choc_vanilla_sprinkles.PNG" alt="vanilla sprinkles cupcake">
                                    <div class="caption">
                                        <h4 data-name="product_name">Product 3</h4>
                                        <!-- <p data-name="product_desc">Product details</p> -->
                                    
                                        <hr class="line">
                                        
                                        <div>
                                            <div class="form-group">
                                                <label>Quantity: </label>
                                                <select name="product_size" class="form-control input-sm">
                                                    <option>6</option>
                                                    <option>12</option>
                                                    <option>24</option>
                                                </select>
                                            </div>
                                          
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="gift_wrap" value="1"> Gift wrap
                                                </label>
                                            </div>
                                            <strong class="price pull-left">$3.00 each</strong>
                                            
                                            <input name="product_price" value="5435.50" type="hidden" />
                                            <input name="product_id" value="145" type="hidden" />
                                            <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-sm-6">
                                <span class="sc-product-item thumbnail">
                                    <img data-name="product_image" class="clipped-image" src="/images/choc_ganache.PNG" alt="chocolate ganache cupcake">
                                    <div class="caption">
                                        <h4 data-name="product_name">Product 4 </h4>
                                        <!-- <p data-name="product_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p> -->
                                    
                                        <hr class="line">
                                        <div>
                                            <div class="form-group">
                                                <label>Quantity: </label>
                                                <select name="product_size" class="form-control input-sm">
                                                    <option>6</option>
                                                    <option>12</option>
                                                    <option>24</option>
                                                </select>
                                            </div>
                                            
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="gift_wrap" value="1"> Gift wrap
                                                </label>
                                            </div>
                                            <strong class="price pull-left">$3.50 each</strong>
                                            
                                            <input name="product_price" value="435.50" type="hidden" />
                                            <input name="product_id" value="154" type="hidden" />
                                            <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </span>
                            </div>
                            
                            <div class="col-md-4 col-sm-6">
                                <span class="sc-product-item thumbnail">
                                    <img data-name="product_image" class="clipped-image" src="/images/vanilla_sprinkles.PNG" alt="vanilla sprinkles cupcake">
                                    <div class="caption">
                                        <h4 data-name="product_name">Product 5 </h4>
                                        <!-- <p data-name="product_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p> -->
                                    
                                        <hr class="line">
                                        <div>
                                            <div class="form-group">
                                                <label>Quantity: </label>
                                                <select name="product_size" class="form-control input-sm">
                                                    <option>6</option>
                                                    <option>12</option>
                                                    <option>24</option>
                                                </select>
                                            </div>
                                            
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="gift_wrap" value="1"> Gift wrap
                                                </label>
                                            </div>
                                            <strong class="price pull-left">$3.00 each</strong>
                                            
                                            <input name="product_price" value="3410.00" type="hidden" />
                                            <input name="product_id" value="155" type="hidden" />
                                            <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </span>
                            </div>
                            
                            <div class="col-md-4 col-sm-6">
                                <span class="sc-product-item thumbnail">
                                    <img data-name="product_image" class="clipped-image" src="/images/yellow_choc_cupcake.PNG" alt="yellow chocolate cupcake">
                                    <div class="caption">
                                        <h4 data-name="product_name">Product 6 </h4>
                                        <!-- <p data-name="product_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p> -->
                                    
                                        <hr class="line">
                                        <div>
                                            <div class="form-group">
                                                <label>Quantity: </label>
                                                <select name="product_size" class="form-control input-sm">
                                                    <option>6</option>
                                                    <option>12</option>
                                                    <option>24</option>
                                                </select>
                                            </div>
                                           
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="gift_wrap" value="1"> Gift wrap
                                                </label>
                                            </div>
                                            <strong class="price pull-left">$3.25 each</strong>
                                            
                                            <input name="product_price" value="5435.50" type="hidden" />
                                            <input name="product_id" value="145" type="hidden" />
                                            <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </span>
                            </div>
                            <!-- END PRODUCTS -->
                        </div>
                    </div>
                  </div>
         </div>
        </div>
                </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <!-- <script type="text/javascript" src="assets/javascript/app.js"></script> -->
  <script src="js/responsive-nav.min.js"></script>
  <script>
  var nav = responsiveNav(".nav-collapse", { // Selector
        animate: true, // Boolean: Use CSS3 transitions, true or false
        transition: 284, // Integer: Speed of the transition, in milliseconds
        label: "Menu", // String: Label for the navigation toggle
        insert: "before", // String: Insert the toggle before or after the navigation
        customToggle: "", // Selector: Specify the ID of a custom toggle
        closeOnNavClick: false, // Boolean: Close the navigation when one of the links are clicked
        openPos: "relative", // String: Position of the opened nav, relative or static
        navClass: "nav-collapse", // String: Default CSS class. If changed, you need to edit the CSS too!
        navActiveClass: "js-nav-active", // String: Class that is added to <html> element when nav is active
        jsClass: "js", // String: 'JS enabled' class which is added to <html> element
        init: function(){}, // Function: Init callback
        open: function(){}, // Function: Open callback
        close: function(){} // Function: Close callback
    });
  </script>


