<head>
  <meta charset="UTF-8">
    <title>{{title}}</title>


   <link rel="stylesheet" href="/css/main.css" />
   <link rel="stylesheet" type="text/css" href="/css/animate-custom.css" />
   <link rel="stylesheet" href="/css/responsive-nav.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
     <link href='http://fonts.googleapis.com/css?family=Roboto:400italic,300,700,400' rel='stylesheet' type='text/css'/>
     <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'/>


  </head>

<!-- <div class="container">
    <div class="hero">
     <div class="logo"><a href="/index"><img src="img/logoppt.png"></a></div> -->
      <!-- <nav class="main-nav nav-collapse clear-fix">
        <ul>
          <li><a href="About.html">About</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Contact</a></li>
          <li class="donate"><a href="#">Order Now!</a></li>
        </ul>
    </nav> -->
    <div class="hero">
      <video autoplay loop id="bg-video">
        <source src="video/PurpuleCupcake.mp4" type="video/mp4">
        <source src="video/back.mp4" type="video/mp4">
        <source src="video/decorate.mp4" type="video/mp4">
      </video>
    <div id="space-between-video"></div>
    </div>
    <div class="what-is-ccd content-area">
      <div class="content">
        <h2>Why Purple Cupcakes?</h2>
        <p>Purple Cupcakes bakes with the highest quality ingredients including; valrhona cocoa, callebaut chocolate, madagascar bourbon vanilla, european style sweet cream butter and fresh fruit. Purple Cupcakes bakes with nuts, wheat, and dairy products on the premises. We strongly caution individuals with severe nut, wheat, and dairy allergies against consuming our cupcakes. </p>
        <p></p>
      </div>

      </div>
    </div>
    <div class="causes content-area">
      <div class="content">
       <h2>Getting Involved</h2>
       <strong><p>Purple Cupcakes regularly participates in community events nationwide and actively supports numerous local and national charitable organizations and foundations, in particular charities that focus on women's and children's health issues. Since opening in 2008, Purple Cupcake has donated tens of thousands of cupcakes and has made hundreds of thousands of dollars in monetary donations to charitable causes. In addition to following us on Instagram, Facebook and Twitter, check our community page regularly for information on exciting upcoming fundraisers and events.</p></strong>
     </div>
     </div>
    <div class="take-action content-area">
      <div class="take-action-info content">
        <div class="social-media-buttons">
        <h2>FOLLOW US ONLINE!</h2>
            <a href="https://www.facebook.com/PurpleCupcakes.UK/" target="_blank" class="fa fa-facebook"></a>
            <a href="https://twitter.com/search?q=purple%20cupcakes&src=typd&lang=en" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/purplecupcakesuk/" target="_blank" class='fa fa-instagram'></a>
        </div>
      </div>
    </div>
    </div>

  </div> <!-- close .container -->
  <footer>
    <p 1>All content on this site &copy; Purple Cupcakes</p 1>
  </footer>

  <div class="modal fade" id="modalSignIn" role="dialog" style="display: none;">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" data-toggle="validator" novalidate="true">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input title="The email you’ve entered doesn’t match any account, try again or register." data-trigger="manual" data-toggle="tooltip" data-placement="right" type="email" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input title="Incorrect Password, try again." data-trigger="manual" data-toggle="tooltip" data-placement="left" type="password" class="form-control" id="psw" placeholder="Enter password">
            </div>
              <button onclick="checkSignIn()" type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

        </div>
      </div>

    </div>
  </div>
  <script>
  var nav = responsiveNav(".nav-collapse", { // Selector
        animate: true, // Boolean: Use CSS3 transitions, true or false
        transition: 284, // Integer: Speed of the transition, in milliseconds
        label: "Menu", // String: Label for the navigation toggle
        insert: "before", // String: Insert the toggle before or after the navigation
        customToggle: "", // Selector: Specify the ID of a custom toggle
        closeOnNavClick: false, // Boolean: Close the navigation when one of the links are clicked
        openPos: "relative", // String: Position of the opened nav, relative or static
        navClass: "nav-collapse", // String: Default CSS class. If changed, you need to edit the CSS too!
        navActiveClass: "js-nav-active", // String: Class that is added to <html> element when nav is active
        jsClass: "js", // String: 'JS enabled' class which is added to <html> element
        init: function(){}, // Function: Init callback
        open: function(){}, // Function: Open callback
        close: function(){} // Function: Close callback
    });
  </script>
